.btn-mio{
  border-radius:0;
  border: solid:8px;
}

body{
  background-color:#4575b4; 
}

.categorias{
  background-color:#91bfdb;
  font-size:large;

}

.menu_central{
  margin: 10px;
  font-size:20px;
  background-color:#91bfdb;
}

.menu_central li{
  color:#d44865;
}


.menu_usuario{
  width:300px;
  background-color:#F5DA81;
}

.info{
  background-color:#4575b4;
  text-align: center;
}


.importa{
  font-size: 30px;
  font-family: serif;
  display:block;
  color:white;
}

.titulos{
     background-color: #4575b4;
    font-size: 50px;
    padding: inherit;
    margin: 10px;
    color:white;
}

.titulo{
    text-align: center;
    background-color: #4575b4;
    color: white;
    font-size: 50px;
}

.container-fluid{
    background-color: #e0f3f8;
    margin: 10px;
}

.color_letra_menu{
  color:white;
  font-size:20px;
 
}